.centered {
  margin: 0 auto !important;
  float: none !important;
}

body {
  font-family: "Fira Sans";
  background: #272838;
}
body a {
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
body a:hover {
  opacity: 0.5;
}

header {
  position: relative;
}
header .header-foto {
  position: absolute;
  bottom: -70px;
  left: 46%;
}
@media only screen and (max-width: 1023px) {
  header .header-foto {
    left: 33%;
  }
}
header .header-content {
  text-align: center;
  background: #4b3f72;
  padding: 150px 0 100px 0;
  color: white;
}
header .header-content span {
  color: #ebb22d;
  font-weight: bold;
  font-family: "Fira Sans";
}
header .header-content h1 {
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}
@media only screen and (max-width: 1023px) {
  header .header-content h1 {
    font-size: 28px;
    padding: 0 20px;
  }
}
header .header-content h2 {
  font-size: 28px;
  margin: 0 0 30px 0;
  font-family: "Fira Sans Eight";
}
@media only screen and (max-width: 1023px) {
  header .header-content h2 {
    font-size: 18px;
    padding: 0 20px;
  }
}
header nav {
  background: #5d5380;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px 0px;
}
header nav ul {
  margin: 0;
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin: 0 25px;
}
header nav ul li:first-of-type {
  margin-left: 0px;
}
header nav ul li a, header nav ul li a:hover, header nav ul li a:focus {
  color: white;
}
header nav ul li p {
  margin: 0;
  cursor: pointer;
}

.home {
  padding:0;
  background: #272838;
  color: white;
}
.home h1 {
  margin: 0 0 30px 0;
}
.home a, .home a:hover {
  color: #ebb22d;
}

.home-logado {
  padding: 50px 0;
  background: #44344F;
  color: white;
}

.upbutton {
  background: white;
  position: fixed;
  bottom: 28px;
  right: 10%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  padding-top: 9px;
  color: black;
  font-weight: bold;
}

.upbutton:hover, .upbutton:focus {
  text-decoration: none;
  color: #555555;
}

#loader {
  border: 10px solid #5d5380;
  border-top: 10px solid #272838;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto !important;
  float: none !important;
}

#space-loader {
  height: 20%;
}

.load {
  text-align: center;
  font-size: 30px;
  width:400px;
  height: 400px;
  padding:'30px'
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #777be6;
  background: transparent;
  color: white;
  border-radius: 4px;
  resize: none;
}
input:focus, textarea:focus {
  outline: none;
}

textarea {
  min-height: 100px;
}

button {
  border: 0;
  background: #777be6;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  outline: none;
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}

button.clear {
  background: #4b3f72;
}

.membros{
  color:white;
}

#clone {
  background: 
  url('./logo/logo.png'),      
  url('./logo/logo.png'),transparent;
  background-size: 100%;
  background-repeat: no-repeat;

  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto !important;
  float: none !important;
}

#clone-loader {
  
  height: 20%;
}

.clone {
  text-align: center;
  font-size: 30px;
  width:400px;
  height: 400px;
  padding:'30px'
}

.element {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;
  margin-top: 60px;
}

.element-1 {
  background: 
  url('./logo/logo.png'),transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: shake-rotate 15s infinite;
  animation: shake-rotate 15s infinite;
}

.element-2 {
  background: 
  url('./logo/logo.png') ,transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: shake-rotate-2 15s infinite;
  animation: shake-rotate-2 15s infinite;
  margin-top: -100px;
}



@-webkit-keyframes shake-rotate {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    left: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes shake-rotate {
  0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    left: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-webkit-keyframes shake-rotate-2 {
  100%, 90%, 80%, 70%, 60%, 50%, 40%, 30%, 20%, 10%, 0% {
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  95%,
  85%,
  75%,
  65%,
  55%,
  45%,
  35%,
  25%,
  15%,
  5% {
    left: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes shake-rotate-2 {
  100%, 90%, 80%, 70%, 60%, 50%, 40%, 30%, 20%, 10%, 0% {
    left: -50px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  95%,
  85%,
  75%,
  65%,
  55%,
  45%,
  35%,
  25%,
  15%,
  5% {
    left: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}